body {
	font: 12px verdana;
	background-color: #4a2510;
}

#header {
	background-color: #4a2510;
    border-top: 3px solid white;
	height: 100%;
	overflow: hidden;
	padding: 7px;
	margin-top: 5px;
}

#header h1 {
	font-size: 26px;
	float: left;
	vertical-align: middle;
	margin: 0;
	padding: 0 0 0 .3em;
}

#header li {
	font-size: 14px;
	display: inline;
	padding: .5em;
}

#header li a.selected {
color: white;
text-decoration: underline;
}

#header ul {
	list-style: none;
	float: right;
	vertical-align: middle;
	margin: 0;
	padding: 0;
}

#feras{
    color: red;
    font-size: 48px;
    font-family: Helvetica;
}

a {
	color: blue;
}

#header h1 a {
	text-decoration: none;
	color: white;
}

.title {
	text-align: center;
	font-weight: bold;
}

.main-description {
	text-align: center;
}

#content {
	/*text-align: center;*/

	font-weight: bold;
	font-size: large;
    font-style: italic;
    color: white;

}


.main-pic {
	display: block;
}

.guest-area {
	text-align: center;
}
